<?xml version="1.0" encoding="UTF-8"?>
<plugin title="languagePackInstaller" loader="DEFAULT">
	<lifecycle-listener class="pt.webdetails.cpk.CpkLifecycleListener"/>
	<static-paths>
		<static-path url="/languagePackInstaller/static" localFolder="static"/>
		<static-path url="/languagePackInstaller/resources" localFolder="resources"/>
	</static-paths>
	<content-types>
		<content-type>
			<title>Languagepackdistributor</title>
			<description></description>
			<company name="" url="" logo="@PLUGIN_COMPANY_LOGO@"></company>
		</content-type>
	</content-types>
	<content-generator
		id="languagePackInstaller"
		title="Languagepackdistributor"
		type="languagePackInstaller"
		class="pt.webdetails.cpk.CpkContentGenerator"/>
	<!-- Menu entry -->
	<menu-items>
		<menu-item id="languagePackInstaller_main" anchor="tools-submenu" label="Languagepackdistributor" command="content/languagePackInstaller/" type="MENU_ITEM" how="LAST_CHILD"/>
	</menu-items>
</plugin>
