/*
 * WDStyleGuide Template CSS
 *
 * Use this as a template to format the styles of specific projects. Most of
 * the most commonly used classes/rules are already written here. The file is
 * divided in the following sections:
 *
 *    Fonts
 *    Style Resets
 *    1. BACKGROUND
 *    2. HEADER
 *    3. FILTER CELLS
 *    4. DATA CELLS
 *    5. TABLES
 *    6. CHARTS
 *    7. SELECTORS AND BUTTONS
 *    8. SITE MAP
 *    Other
 *    Project Specific Items
 *
 */


/* =============================================================================
   Fonts
   ========================================================================== */



/* =============================================================================
   Style Resets
   ========================================================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
/*margin: 0;
padding: 0;
border: 0;
        font-family: Open Sans, Arial, sans-serif;*/
  }





/* =============================================================================
   1. BACKGROUND
   ========================================================================== */

/* Window Background */
body{
}
/* Dashboard Background / Blueprint Container */
div.container  {

}

/* =============================================================================
   2. HEADER
   ========================================================================== */
.WDheader {

    font-size:48px;
}

.WDh1 {}
.WDh2 {}



/* =============================================================================
   3. FILTER CELLS
   ========================================================================== */

/* Filter Cells */
.WDfilterCell {
}

/* Filter Cells header */
.WDfilterCellHeader{
}


/* Filter Cells body */
.WDfilterCellBody{
}
.no-svg .WDfilterCellBody{
}
.svg  .WDfilterCellBody{
}

.WDfilterCellBody *{
}


/********** FILTER ELEMENTS *********/

.WDfilterCell select{
}

.WDfilterCellBody button {

}
.no-svg .WDfilterCellBody button {
}
.svg .WDfilterCellBody button {
}

.WDfilterCellBody button:hover {
}
.WDfilterCellBody button span {
}


/* Multi Button */
.WDfilterCellBody .pentaho-toggle-button {

}
.no-svg .WDfilterCellBody .pentaho-toggle-button {
}
.svg .WDfilterCellBody .pentaho-toggle-button {
}
.WDfilterCellBody .pentaho-toggle-button-horizontal-first {
}
.WDfilterCellBody .pentaho-toggle-button-horizontal-last {
}
.WDfilterCellBody .pentaho-toggle-button:hover,
  .WDfilterCellBody .pentaho-toggle-button:hover button{
  }
.WDfilterCellBody .pentaho-toggle-button-down {

}
.no-svg .WDfilterCellBody .pentaho-toggle-button-down {
}
.svg .WDfilterCellBody .pentaho-toggle-button-down {
}

.WDfilterCellBody .pentaho-toggle-button button {
}
.WDfilterCellBody .pentaho-toggle-button-horizontal-last button {
}
.WDfilterCellBody .pentaho-toggle-button-horizontal-first button {
}
.WDfilterCellBody .pentaho-toggle-button-down button {
}


/**** Chosen Select *****/
/* All Chosen elements */
.WDfilterCellBody .chzn-container{
}
.WDfilterCellBody .chzn-container * {
}
.WDfilterCellBody .chzn-container-active{
}
.WDfilterCellBody .chzn-drop{
}
.WDfilterCellBody .chzn-drop  .chzn-search{
}
.WDfilterCellBody .chzn-drop .chzn-search input{
}
.WDfilterCellBody .chzn-drop  .chzn-results{
}
.WDfilterCellBody .chzn-drop  .chzn-results li{

}
.WDfilterCellBody .chzn-drop .chzn-results em{
}
.WDfilterCellBody .chzn-drop  .chzn-results .active-result{
}
.WDfilterCellBody .chzn-drop  .chzn-results .highlighted{
}
.WDfilterCellBody .chzn-drop  .chzn-results .result-selected{
}
.WDfilterCellBody .chzn-drop  .chzn-results .no-results {
}

/* Single Select */
.WDfilterCellBody .chzn-container-single .chzn-single{
}
.no-svg  .WDfilterCellBody .chzn-container-single .chzn-single{
}

.svg  .WDfilterCellBody .chzn-container-single .chzn-single{

}
.WDfilterCellBody .chzn-container-single:hover .chzn-single{
}

.WDfilterCellBody .chzn-container-single .chzn-single span{
}
.WDfilterCellBody .chzn-container-single .chzn-single div{ /* Arrow container */
}
.WDfilterCellBody .chzn-container-single .chzn-single div b,
  .WDfilterCellBody .chzn-container-single .chzn-single-with-drop div b{ /* Arrow */
  }
.WDfilterCellBody .chzn-container-single:hover .chzn-single div b,
  .WDfilterCellBody .chzn-container-single:hover .chzn-single-with-drop div b{ /* Arrow */
  }
.WDfilterCellBody .chzn-container-single .chzn-single.chzn-single-with-drop{
}
.WDfilterCellBody .chzn-container-single .chzn-single-with-drop span{
}
.WDfilterCellBody .chzn-container-single .chzn-single-with-drop div{ /* Arrow container */
}
.WDfilterCellBody .chzn-container-single .chzn-single-with-drop div b{
}


/* Multi Select */
.WDfilterCellBody .chzn-container-multi.chzn-container{
}
.WDfilterCellBody .chzn-container-multi .chzn-drop{
}
.WDfilterCellBody .chzn-container-multi .chzn-drop .selectTooltipTriangle{
}
.WDfilterCellBody .chzn-container-multi .chzn-drop  .chzn-results{
}

.WDfilterCellBody .chzn-container-multi .chzn-choices {
}
.WDfilterCellBody .chzn-container-multi:hover .chzn-choices,
  .WDfilterCellBody .chzn-container-multi.chzn-container-active .chzn-choices{
  }
.WDfilterCellBody .chzn-container-multi .chzn-choices  .search-choice {

}
.no-svg   .WDfilterCellBody .chzn-container-multi .chzn-choices  .search-choice {
}
.svg   .WDfilterCellBody .chzn-container-multi .chzn-choices  .search-choice {
}
.WDfilterCellBody .chzn-container-multi .chzn-choices .search-choice span{
}
.WDfilterCellBody .chzn-container-multi .chzn-choices .search-choice .search-choice-close{
}
.WDfilterCellBody .chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover {
}
.WDfilterCellBody .chzn-container-multi .chzn-choices .search-field input{
}



/* =============================================================================
   4. DATA CELLS
   ========================================================================== */

/* Data Cells */
.WDdataCell {
}

/* Data Cells header*/
.WDdataCellHeader{

}
.no-svg   .WDdataCellHeader {
}
.svg   .WDdataCellHeader {
}

/* Data Cells body */
.WDdataCellBody {
}

/* =============================================================================
   5. TABLES
   ========================================================================== */

.WDdataCellBody table {}


/* Header */
.WDdataCellBody  thead {}
.WDdataCellBody thead tr {

}
.WDdataCellBody  thead th {

}
.WDdataCellBody thead th.sorting{
}
.WDdataCellBody thead th.sorting_asc{
}
.WDdataCellBody  thead th.sorting_desc{
}
.WDdataCellBody  thead th:first-child {
}

/* Body */
.WDdataCellBody  tbody {}
.WDdataCellBody  tbody tr {
}
.WDdataCellBody  tbody td{
}
.WDdataCellBody  tbody td,
  .WDdataCellBody  tbody td.numeric,
  .WDdataCellBody  tbody td.string {
  }

/* Footer */
.WDdataCellBody  tfoot {
}
.WDdataCellBody  tfoot tr {
}
.WDdataCellBody  tfoot td{
}
.WDdataCellBody  tfoot tr:first-child td{
}
.WDdataCellBody  tfoot tr:last-child td{
}
.WDdataCellBody  tfoot td{
}



/* DataTables */
.WDdataCellBody  .dataTables_wrapper{
}
.WDdataCellBody  .dataTables_wrapper tbody tr.odd td.sorting_1,
  .WDdataCellBody  .dataTables_wrapper tbody tr.odd{
  }
.WDdataCellBody  .dataTables_wrapper tbody tr.even td.sorting_1,
  .WDdataCellBody  .dataTables_wrapper tbody tr.even{
  }

/* Pagination and Page Info */

.WDdataCellBody   .dataTables_info{
}

.WDdataCellBody  .dataTables_paginate{
}
.WDdataCellBody  .dataTables_paginate > span {
}
.WDdataCellBody  .dataTables_paginate > input {
}
.WDdataCellBody   .dataTables_paginate .paginate_button {
}
.WDdataCellBody  .dataTables_paginate .paginate_button.first,
  .WDdataCellBody   .dataTables_paginate .paginate_button.last {
  }
.WDdataCellBody   .dataTables_paginate .paginate_button.previous {
}
.WDdataCellBody  .dataTables_paginate .paginate_button.next {
}
.WDdataCellBody   .dataTables_paginate .paginate_page {
}
.WDdataCellBody   .dataTables_paginate .paginate_of {
}

.WDdataCellBody   .dataTables_paginate .paginate_enabled_next {
}
.WDdataCellBody   .dataTables_paginate .paginate_enabled_previous{
}
.WDdataCellBody   .dataTables_paginate .paginate_disabled_next {
}
.WDdataCellBody   .dataTables_paginate .paginate_disabled_previous {
}
.WDdataCellBody   .dataTables_paginate .paginate_enabled_next:hover {
}
.WDdataCellBody   .dataTables_paginate .paginate_enabled_previous:hover {
}
.WDdataCellBody   .dataTables_paginate .paginate_enabled_next:active {
}
.WDdataCellBody   .dataTables_paginate .paginate_enabled_previous:active {
}
.WDdataCellBody   .dataTables_paginate .paginate_disabled_previous,
.WDdataCellBody   .dataTables_paginate .paginate_enabled_previous,
.WDdataCellBody   .dataTables_paginate .paginate_disabled_next,
.WDdataCellBody  .dataTables_paginate .paginate_enabled_next {
}

/* Add Ins */
.WDdataCellBody td .trend,
.WDdataCellBody th .trend{
}
.WDdataCellBody  tfoot td .trend{
}
.WDdataCellBody  tfoot td .trend.down,
.WDdataCellBody  tbody td .trend.down,
.WDdataCellBody  thead th .trend.down {
}
.WDdataCellBody  tfoot td .trend.up,
.WDdataCellBody  tbody td .trend.up,
.WDdataCellBody  thead th .trend.up {
}
.WDdataCellBody  tfoot td .trend.neutral,
.WDdataCellBody  tbody td .trend.neutral,
.WDdataCellBody  thead th .trend.neutral {
}



/* =============================================================================
   6. CHARTS
   ========================================================================== */




/* =============================================================================
   7. SELECTORS AND BUTTONS
   ========================================================================== */
.WDfilterCell select{
}

button {
}
.no-svg   button {
}
.svg   button {
}

button:hover {
}
button span {
}


/* Buttons */

.WDbutton button
{
    border: 2px groove #fdfaf1;
    color: #eeeeee;

    border-radius: 0;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    background: #8dc53e;
    height: 100%;
    width: 100%;
}
.WDbutton button:disabled,
.WDbutton button:disabled:hover
{
    background: #f9f9f9; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGU5ZTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f9f9f9 0%, #ede9e1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#ede9e1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f9f9f9 0%,#ede9e1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f9f9f9 0%,#ede9e1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f9f9f9 0%,#ede9e1 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f9f9f9 0%,#ede9e1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ede9e1',GradientType=0 ); /* IE6-8 */
    color: #CCCCCC;
}
.WDbutton button:hover
{
    color: #ffffff;
    background: #82bc31;
}
.WDbuttonbutton:active
{
    background: #9dd53a; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzlkZDUzYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2ExZDU0ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcyJSIgc3RvcC1jb2xvcj0iIzgwYzIxNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3Y2JjMGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #9dd53a 0%, #a1d54f 40%, #80c217 72%, #7cbc0a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dd53a), color-stop(40%,#a1d54f), color-stop(72%,#80c217), color-stop(100%,#7cbc0a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #9dd53a 0%,#a1d54f 40%,#80c217 72%,#7cbc0a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #9dd53a 0%,#a1d54f 40%,#80c217 72%,#7cbc0a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #9dd53a 0%,#a1d54f 40%,#80c217 72%,#7cbc0a 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #9dd53a 0%,#a1d54f 40%,#80c217 72%,#7cbc0a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-8 */
}




/* Multi Button */
.pentaho-toggle-button {

}
.no-svg .pentaho-toggle-button {
}
.svg .pentaho-toggle-button {
}
.pentaho-toggle-button-horizontal-first {
}
.pentaho-toggle-button-horizontal-last {
}
.pentaho-toggle-button:hover,
.pentaho-toggle-button:hover button{
  }
.pentaho-toggle-button-down {

}
.no-svg .pentaho-toggle-button-down {
}
.svg .pentaho-toggle-button-down {
}

.pentaho-toggle-button button {
}
.pentaho-toggle-button-horizontal-last button {
}
.pentaho-toggle-button-horizontal-first button {
}
.pentaho-toggle-button-down button {
}

/**** Chosen Select *****/
/* All Chosen elements */
.chzn-container{
}
.chzn-container * {
}
.chzn-container-active{
}
.chzn-drop{
}
.chzn-drop  .chzn-search{
}
.chzn-drop .chzn-search input{
}
.chzn-drop  .chzn-results{
}
.chzn-drop  .chzn-results li{

}
.chzn-drop .chzn-results em{
}
.chzn-drop  .chzn-results .active-result{
}
.chzn-drop  .chzn-results .highlighted{
}
.chzn-drop  .chzn-results .result-selected{
}
.chzn-drop  .chzn-results .no-results {
}

/* Single Select */
.chzn-container-single .chzn-single{
}
.no-svg    .chzn-container-single .chzn-single{
}

.svg    .chzn-container-single .chzn-single{

}
.chzn-container-single:hover .chzn-single{
}

.chzn-container-single .chzn-single span{
}
.chzn-container-single .chzn-single div{ /* Arrow container */
}
.chzn-container-single .chzn-single div b,
  .chzn-container-single .chzn-single-with-drop div b{ /* Arrow */
  }
.chzn-container-single:hover .chzn-single div b,
  .chzn-container-single:hover .chzn-single-with-drop div b{ /* Arrow */
  }
.chzn-container-single .chzn-single.chzn-single-with-drop{
}
.chzn-container-single .chzn-single-with-drop span{
}
.chzn-container-single .chzn-single-with-drop div{ /* Arrow container */
}
.chzn-container-single .chzn-single-with-drop div b{
}


/* Multi Select */
.chzn-container-multi.chzn-container{
}
.chzn-container-multi .chzn-drop{
}
.chzn-container-multi .chzn-drop .selectTooltipTriangle{
}
.chzn-container-multi .chzn-drop  .chzn-results{
}

.chzn-container-multi .chzn-choices {
}
.chzn-container-multi:hover .chzn-choices,
  .chzn-container-multi.chzn-container-active .chzn-choices{
  }
.chzn-container-multi .chzn-choices  .search-choice {

}
.no-svg    .chzn-container-multi .chzn-choices  .search-choice {
}
.svg    .chzn-container-multi .chzn-choices  .search-choice {
}
.chzn-container-multi .chzn-choices .search-choice span{
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close{
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover {
}
.chzn-container-multi .chzn-choices .search-field input{
}



/* =============================================================================
   8. SITE MAP
   ========================================================================== */

.WDsiteMap {}



/* =============================================================================
   Other
   ========================================================================== */



/* =============================================================================
   Project Specific Items
   ========================================================================== */

.welcomeMessage,
.message
{
    font-size: 12px;
    display: block;
    float: left;
}

.WDbutton
{

}

.WDhidden
{
    display: none;
}
