/*
 * WDStyleGuide Template CSS
 *
 * Use this as a template to format the styles of specific projects. Most of
 * the most commonly used classes/rules are already written here. The file is
 * divided in the following sections:
 *
 *    Fonts
 *    Style Resets
 *    1. BACKGROUND
 *    2. HEADER
 *    3. FILTER CELLS
 *    4. DATA CELLS
 *    5. TABLES
 *    6. CHARTS
 *    7. SELECTORS AND BUTTONS
 *    8. SITE MAP
 *    Other
 *    Project Specific Items
 *
 */


/* =============================================================================
   Fonts
   ========================================================================== */



/* =============================================================================
   Style Resets
   ========================================================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
/* margin: 0; */
/* padding: 0; */
/* border: 0; */
        font-family: Open Sans, Arial, sans-serif;
  }





/* =============================================================================
   1. BACKGROUND
   ========================================================================== */

/* Window Background */
body{
    background-color: #E0EBEF;
}
/* Dashboard Background / Blueprint Container */
div.container  {
    max-width: 700px;
    min-width: 500px;
}



/* =============================================================================
   Other
   ========================================================================== */



/* =============================================================================
   Project Specific Items
   ========================================================================== */


.languageDialogContainer{
    margin-top: 50px;
    padding: 20px;
    background-color:#F5F6F8;
    border: 1px solid #CDDFE9;
}

.languageDialogContainer .imageContainer
{
    background: #fff url('../img/save_document.png') -96px 0 no-repeat;
    width: 48px;
    height: 48px;
    display: block;
    float: left;
    margin: 0 20px;

}
.languageDialogContainer .titleContainer
{
    color: #2076BE;
    font-size: 16px;
}

.languageDialogContainer .msgContainer
{
    padding: 20px 0;

}

.btn button{
    background: -moz-linear-gradient(270deg, #026d93 0%, #005879 100%);/* FF3.6+ */
    background: -webkit-gradient(linear, 270deg, color-stop(0%, #026d93), color-stop(100%, #005879));/* Chrome,Safari4+ */
    background: -webkit-linear-gradient(270deg, #026d93 0%, #005879 100%);/* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(270deg, #026d93 0%, #005879 100%);/* Opera 11.10+ */
    background: -ms-linear-gradient(270deg, #026d93 0%, #005879 100%);/* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#026d93', endColorstr='#005879', GradientType='1'); /* for IE */
    background: linear-gradient(180deg, #026d93 0%, #005879 100%);/* W3C */

    color: #CEE1E7;

    height: 32px;
    width: 94px;
    border: 1px solid #026d93;
    border-radius: 5px;
    font-size: 12px;

    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#c0c0c0)";/*IE 8*/
    -moz-box-shadow: 3px 3px 3px #c0c0c0;/*FF 3.5+*/
    -webkit-box-shadow: 3px 3px 3px #c0c0c0;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 3px 3px 3px #c0c0c0;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#c0c0c0); /*IE 5.5-7*/
}
.btn button:hover {
    border: 1px solid #000;
}


.btnContainer .btn
{
    float: right;
}


.msgContainer .success
{
    background: inherit;
    border: none;
    color: inherit;
    padding: 0;
}

/* Messages */
.languageDialogContainer .msgContainer .msg {
  display:none;
}
.languageDialogContainer.welcome    .msgContainer .msg.welcome,
.languageDialogContainer.installing .msgContainer .msg.installing,
.languageDialogContainer.error      .msgContainer .msg.error,
.languageDialogContainer.success    .msgContainer .msg.success{
  display:inline-block;
}


/* Messages */
.languageDialogContainer .btnContainer .btn {
  display:none;
}
.languageDialogContainer.welcome.notInstalled    .btnContainer .btn.install,
.languageDialogContainer.error                   .btnContainer .btn.ok,
.languageDialogContainer.success                 .btnContainer .btn.ok{
  display:inline-block;
}


/* Info */
.languageDialogContainer        .infoContainer .info {
  display:none;
}
.languageDialogContainer.error  .infoContainer .info.log{
  display:inline-block;
}
