<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<cde-styles>
		<path>system/${langpack.name}/resources/styles</path>
	</cde-styles>
  	<cde-datasources/>
	<cde-components>
	  <!-- paths from solution with cde component definitions to be loaded-->
	  <path>system/${langpack.name}/resources/components</path>
	  <path>${langpack.name}/components</path>
	</cde-components>
</settings>
